body {
    background-color: #FF9A3C;
}
a {
    color: #134a59;
}
.container {
    margin: 120px auto;
    max-width: 600px;
}
h1 {
    text-align: center;
    color: #08252d;
}
.form-container {
    background-color: #155263;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    padding: 25px; 
    margin-bottom: 30px;
    padding: 15px 20px;
}
form {
    display: flex;
}
.instructions {
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 16px;
    padding: 13px;
    width: 100%;
}
.submit-button {
    background-color: #FF9A3C;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 13px;
    margin-left: 10px;
}
.hint {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
    opacity: 0.6;
}
.poem {
    background-color: #FFC93C;
    border-left: 3px solid #155263 ;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    color: #08252d;
    font-size: 18px;
    line-height: 2;
    padding: 20px;
}
.hidden {
    display: none;
}
footer {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
} 

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
